#define MQTT_USERNAME "arduino"
#define MQTT_PASSWORD "secret"
#define MQTT_BROKER "localhost"
#define MQTT_TOPIC_DURATION "devices/adafruit/sonic/duration"
#define MQTT_TOPIC_DISTANCE "devices/adafruit/sonic/distance"
